service cloud.firestore {
  match /databases/{database}/documents {
	match /campaigns/{campaign=**} {
	  allow create: if request.auth != null;
	  allow delete: if request.auth != null;
	  allow update: if request.auth != null;
      allow read: if request.auth != null;
    }
  }
}
